.heading{
    font-size: 60px;
    margin: auto;
    margin-top: 5vh;
    text-transform: capitalize;
    text-align: center;
    /* text-decoration: underline; */
}

.container{
    text-align: center;
    position: relative;
}

.description{
    font-size: 30px;
    text-transform: capitalize;
    padding: 10px;
}

.margin-above{
    margin-top: 20vh;
    transition-duration: 200ms;
    padding: 20px;
}

.card{
    text-align: center;
    padding: 10px;
    background-color: #19443c;
    /* margin: auto; */
    margin-top: 10px;
    transform: scale(0,0);
    opacity: 0;
    /* width:100%; */
    margin-top: 3vh;
    /* border-radius: 10px; */
    min-width: fit-content;
    border: 1px solid black;
}

.url{
background-color: #148f87;
max-width: fit-content;
margin: auto;
padding: 8px;
border-radius: 10px;
cursor: pointer;
transition-duration: 200ms;
}

.url:hover{
    background-color: #2192cb;
}

.card-icon{
    font-size: 38px;
}
.card-heading{
    font-size: 30px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,33%);
    position: relative;
}

@media screen and (max-width:600px){
    .grid{
        grid-template-columns: repeat(2,50%);
    }
    

    .margin-above{
        padding: 10px;
    }
}

@media screen and (max-width:400px){
    .grid{
        display: block;
    }
    
}