*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
}

/* *{
  border: 2px solid red;
} */

body{
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: #120321;
  /* border: 2px solid red; */
}